{% extends 'portal/normal_base.html' %}
{% load static %}

{% block title %}product and service{% endblock%}
{% block service_active%}active{% endblock %}
{% block content %}
<div class = "content_title">
	<h4 class="port_h">SMART CITY</h4>
	<h1 class="port_h"> 智慧城市<h1>
</div>
<div class = "summary">
	<h3 class="port_h">系统概述</h3>
	<div class = "summary_content">
		<blockquote>
            “新型智慧城市”是以城市治理高效有序、为民服务全程全时，数据开放共融共享、经济发展绿色开元、网络空间安全高效为主要目标，通过体系规划、信息主导、改革创新，推进新一代信息技术与城市现代化深度融合、迭代演进，实现国家与城市的协调发展。
新型智慧城市建设重点
“新型智慧城市”建设的四个重点，即物联网开放体系架构、城市开放信息平台、城市运行指挥中心、网络空间安全体系。
物联网开发体系架构：具有自主知识产权的物联网开放体系架构方案，以“物体命名解析系统（TNS）”和物联港伟核心的物联网寄出设施，掌握网络发展和网络空间安全的主导、主动和主控权。
城市开放信息平台：以“平台+大数据”伟策略，提供城市资源大数据通用服务平台，致力于实现数据共融共享，消除信息孤岛，保障数据安全，提高大数据应用水平。
城市运行指挥中心：全面透彻感知城市运转，接入社会及网络数据，实现跨部门的协调联动，提升对突发事件的应急处置效率。
网络空间安全体系：涵盖“城市基础设施安全、城市数据中心安全、城市虚拟社会安全”的安全体系。
		</blockquote>
    </div>
    <div class = "summary_img">
	    <img class ="municipal_img" src="{% static 'portal/img/smart_city.png' %}"></img>
    </div>
</div>

<div>
	<h3 class="port_h">新型智慧城市建设重点</h3>
    <div class = "summary_img img_left">
	    <img class ="municipal_img" src="{% static 'portal/img/smart_city_2.png' %}"></img>
    </div>
</div>

<div>
	<h3 class="port_h">新型智慧城市顶层设计</h3>
    <div class = "summary_img img_left">
	    <img class ="municipal_img" src="{% static 'portal/img/smart_city_3.png' %}"></img>
    </div>
</div>

<div>
	<h3 class="port_h">新型智慧城市总体设计架构</h3>
    <div class = "summary_img img_left">
	    <img class ="municipal_img" src="{% static 'portal/img/smart_city_4.png' %}"></img>
    </div>
</div>


<div class = "advantage content_ending">
	<h3 class="port_h">新型智慧城市应用系统建设</h3>
	<div class = "advantage_content">
		<blockquote>
中国电子科技集团公司，作为军工电子的国家队和电子信息产业的主力军，坚持军民结合、寓军于民的发展道路，积极参与国民经济信息化建设和国家重点工程建设，已形成安全电子、能源电子、交通电子、软件与信息服务、通信网络与卫星应用、新型元器件、先进制造、现代物流服务等民品主导产业板块。
在“智慧城市”建设方面，中国电科集团充分整合下属各成员单位的技术优势。结合各城市的文化属性与信息化发展，为国内各大中城市提供智慧城市整体设计与建设方案，先后为“智慧北京”、“平安重庆”、“智慧武汉”、“智慧拉萨”、“智慧包头”、“智慧黄山”、“智慧深圳”、“智慧福州”、“智慧嘉兴”等数十个城市提供智慧城市整体设计，并在政府信息化领域、公共安全领域、智慧交通领域、能源电子领域参与了数千项工程建设。
		</blockquote>
    <div class = "summary_img">
	    <img class ="municipal_img" src="{% static 'portal/img/smart_city_5.png' %}"></img>
    </div>

 </div>
</div>


{% endblock content%}

