{% extends 'portal/base.html' %}
{% load static %}

{% block title %}contact us{% endblock title %}
{% block contactions_active %}active{% endblock %}
{% block firstpage_img %}contact_us{% endblock firstpage_img%}
{% block title_center %}contact_us_title_center{% endblock%}
{% block content %}
    <div class="section" id="section3">
	<div class="container"  id="contact_container">
		<div class="container_inline">
			<div style="height:70%;">
			<div class = "contact_tel_div long_contact_tel_div">
				<p><b>销售热线：</b></p>
                    <span>021-62541972</span>
		    <span style="float:right;">联系人：王经理</span><br>
		    <br>
                    <span>021-62547600*6317</span>
                    <span style="float:right;">联系人：王经理</span><br>
		    <br>
                    <span>021-62547600*6302</span>
                    <span style="float:right;">联系人：王经理</span><br>
			</div>
			<div class = "contact_tel_div">
				<p><b>服务热线：</b></p>
                    <span>021-62547600*6311</span>
                    <span style="float:right;">联系人：李经理</span><br>
			</div>

			<div class = "contact_tel_div">
				<p><b>招聘热线：</b></p>
                    <span>021-62547600*6311</span>
                    <span style="float:right;">联系人：李经理</span><br>
			</div>

			<div class = "contact_tel_div">
				<p><b>投诉热线：</b></p>
                    <span>021-62547600*6310</span>
                    <span style="float:right;">联系人：贺经理</span><br>
			</div>

			<div class = "contact_tel_div">
				<p><b>公司传真：</b></p>
                    <span>021-62548534</span>
                    <span style="float:right;">021-62577494</span><br>
			</div>
			</div>
			<div style="height:20%;margin-top:50px;">
				<p><b>简历请发送至邮箱：zgdk59st_hr@126.com</b></p>
				<p><b>我们期待您的加入！</b></p>
            </div>
 	        </div>

		<div class="container_inline">
			<p><b>交通方式：</b></p>
                    <p>公司地址：上海市普通过去武宁路423号</p>
                    <p>地铁3、4、11号线曹杨路站下，7号口步行约750米</p>
		    <br> <br>
		    <img src="{% static 'portal/img/cp_address.png' %}" style="width:100%;"></img>
		    <br>
		    <br>
		    <br>
		    <br>

		    <p><b>友情链接：</b></p>
                    <a href="http://www.50.sh.cn/"><p>
                            中国电子科技集团有限公司第五十研究所
                            </p></a>
                    <a href="http://www.cetc.com.cn/"><p>
                            中国电子科技集团有限公司
                            </p></a>
                    <a href="http://www.stc.sh.cn/"><p>
                            上海科技网
                            </p></a>
                    <a href="http://www.shxt.com/shxt/shxt_index.html"><p>
                            上海协同科技股份有限公司
                            </p></a>

 	        </div>
 	
 	</div>
    </div>

{% endblock content %}
