{% extends 'portal/normal_base.html' %}
{% load static %}

{% block title %}news center{% endblock title %}
{% block service_active%}active{% endblock %}
{% block content %}
<div class = "content_title">
	<h4 class="port_h">ASSETS GEOGRAPHY INFORMATION SYSTEM OF CITY SERVICES</h4>
	<h1 class="port_h">城市市政资产地理信息系统<h1>
</div>
<div class = "summary">
	<h3 clas s="port_h">系统概述</h3>
	<div class = "summary_content">
		<blockquote>
                城市市政地理信息系统将GIS技术服务于城市市政的智慧管理中，能够把图形管理系统、数据管理系统有机地结合起来，克服了监控系统和图形系统各自的局限性，使两者优势加强联合，效果更加突出。城市市政地理信息系统将GIS技术应用到市政管理中，实现对市政设施资产信息进行收集、存储、分析，给人以直观完整而深刻的印象，同事为城市规划决策提供有力的支持。
		</blockquote>
    </div>
    <div class = "summary_img">
	    <img id="municipal_img" src="{% static 'portal/img/gis1.png' %}"></img>
    </div>
</div>
<div class = "advantage">
	<h3 class="port_h">主要功能</h3>
	<div class = "advantage_content">
		<blockquote>
			<b>地图操作：</b>放大、缩小、漫游、全图、距离测量、面积测量、前后视图、保存地图等。
		</blockquote>
		<blockquote>
			<b>数据编辑：</b>城市部件空间数据和属性数据的输入编辑，直观构造与各元素相关的属性数据库。
		</blockquote>
		<blockquote>
			<b>应用系统联动：</b>通过地理信息系统实现和其他应用系统联动。
		</blockquote>
	        <blockquote>
			<b>数据互联互通：</b>实现专题数据、应用数据、业务数据互联互通，达到全局数据分析，决策支撑。
		</blockquote>
		<blockquote>
			<b>资产信息管理：</b>所有部件属性、资料以及多媒体数据输入、输出、分析，生命周期管理，维修维护决策指导。
		</blockquote>
		<blockquote>
			<b>数据查询统计：</b>图形检索属性和由属性检索图形的双向查询，空间统计、报表、打印、输出。
		</blockquote>
		<blockquote>
			<b>事故分析：</b>影响范围检测，了解当前部件故障对周边设施影响
		</blockquote>
		<blockquote>
			<b>实景三维：</b>采用三维虚拟展现技术，支持全景空间切换，达到对市政设施全方位管理目的。
	</blockquote>
    	</div>
	<div class = "advantage_imgs">
		<img src = "{% static 'portal/img/gis2.png' %}" class = "advantage_img"></img>
		<img src = "{% static 'portal/img/gis3.png' %}" class = "advantage_img"></img>
		<img src = "{% static 'portal/img/gis4.png' %}" class = "advantage_img"></img>
	</div>
</div>
{% endblock content%}

