{% extends 'portal/base.html' %}
{% load static %}

{% block title %}news center{% endblock title %}
{% block job_active %}active{% endblock %}
{% block firstpage_img %}job_take{% endblock firstpage_img%}
{% block title_center %}job_take_title_center{% endblock%}
{% block content %}
    <div class="section" id="section3">
	<div class="container"  id="news_container">
		<div class="container_inline">
			<div class = "container_inline_inline">
				<div class = "container_inline_inline_title">
					<div class = "div_img"></div>
					<div class = "div_title"><b>研发部</b></div>
				</div>
				<a class="job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>
				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>
				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>
			</div>
			<div class = "container_inline_inline">
				<div class = "container_inline_inline_title">
					<div class = "div_img"></div>
					<div class = "div_title"><b>研发部</b></div>
				</div>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>
			</div>
		</div>


		<div class="container_inline">
			<div class = "container_inline_inline">
				<div class = "container_inline_inline_title">
					<div class = "div_img"></div>
					<div class = "div_title"><b>研发部</b></div>
				</div>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
					<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

			</div>
			<div class = "container_inline_inline">
				<div class = "container_inline_inline_title">
					<div class = "div_img"></div>
					<div class = "div_title"><b>研发部</b></div>
				</div>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>

				<a class = "job_link">
				<div class = "job_link">
				<div class = "job_take_list">
					<p><b>电子工程师</b></p>
				<div class = "news_list_describe">
                                <span>人数：2人 专业：电子工程、微电子专业等相关专业 学历：硕士研究生……</span>
				<div class = "news_list_line"></div>
                                </div>
				</div>
				</a>
			</div>
		</div>


		
	</div>
	</div>
    </div>

{% endblock content %}
