{% extends 'portal/base.html' %}
{% load static %}

{% block title %}news center{% endblock title %}
{% block news_active %}active{% endblock news_active%}
{% block firstpage_img %}news_center{% endblock firstpage_img%}
{% block title_center %}news_center_title_center{% endblock%}
{% block content %}
    <div class="section" id="section3">
	<div class="container"  id="news_container">
		<div class="container_inline">
 			<a href="/portal/news_list/20180127" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>喜讯 | 公司荣获智慧城市管理创新应用“先进单位”称号</b>

					</span>
					<span class="news_list_title_time"><b>18-01-27</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180127.webp' %}" class = "news_list_img">
					</img>
					<img src="{% static 'portal/img/20180127_2.webp' %}" class = "news_list_img">
					</img>
			</div>
				<div class = "news_list_describe">
                        <span>1月18日，第三届智慧城市管理与物联网技术应用创新大会……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>
 			<a href="/portal/news_list/20180127_2" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span><b>中标 | 服务“一带一路”建设 盛同中标西宁“智慧照明”</b></span>
					<span class="news_list_title_time"><b>18-01-27</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180127_2_1.webp' %}" class = "news_list_img">
					</img>
			</div>
				<div class = "news_list_describe">
                        <span> 一直以来五十所盛同公司凭借雄厚的技术实力、良好的企业信誉和丰富……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

 			<a href="/portal/news_list/20180109" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>关注 | 公司召开2018年首次市场工作会议</b>

					</span>
					<span class="news_list_title_time"><b>18-01-09</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180109.webp' %}" class = "news_list_img">
					</img>
					<img src="{% static 'portal/img/20180109_2.webp' %}" class = "news_list_img">
					</img>
			</div>
				<div class = "news_list_describe">
                       <span>2018年1月2日，新年开工第一天，盛同公司 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>


 			<a href="/portal/news_list/20180109_2" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>喜讯 | 50所连续三届获“全国文明单位”称号</b>

					</span>
					<span class="news_list_title_time"><b>18-01-09</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180109_2_1.webp' %}" class = "news_list_img">
					</img>
			</div>
				<div class = "news_list_describe">
                       <span>“全国文明单位”评选活动是由中央文明委 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

	</div>



		<div class="container_inline">

 			<a href="/portal/news_list/20180109_3" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>关爱健康 | 公司开展健康知识讲座</b>

					</span>
					<span class="news_list_title_time"><b>18-01-09</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180109_3_1.webp' %}" class = "news_list_img">
					</img>
					<img src="{% static 'portal/img/20180109_3_2.webp' %}" class = "news_list_img">
					</img>
	
			</div>
				<div class = "news_list_describe">
                       <span>为进一步提升员工关爱自我，健康生活的意 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

 			<a href="/portal/news_list/20180109_4" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>送温暖 | 心系员工，情暖人心</b>

					</span>
					<span class="news_list_title_time"><b>18-01-09</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20180109_4_1.webp' %}" 
					class = "news_list_img" style="height:70%;">
					</img>

			</div>
				<div class = "news_list_describe">
                       <span>对于本次送温暖活动，公司领导十分重视。在公 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

 			<a href="/portal/news_list/20171130" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>送温暖 | 心系员工，情暖人心</b>

					</span>
					<span class="news_list_title_time"><b>17-11-30</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20171130.webp' %}" class = "news_list_img" >
					</img>
					<img src="{% static 'portal/img/20171130_2.webp' %}" class = "news_list_img" >
					</img>
					<img src="{% static 'portal/img/20171130_3.webp' %}" class = "news_list_img" >
					</img>

			</div>
				<div class = "news_list_describe">
                       <span>11月14日至16日，第七届全球智慧城市博览会 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

 			<a href="/portal/news_list/20171130_2" class = "container_inline_a">
			<div class="news_list">
				<div class = "news_list_title">
					<span>
						<b>喜讯 | 包头市城市建设数字化管理应急指挥系统（一期）项目顺利通过验收</b>

					</span>
					<span class="news_list_title_time"><b>17-11-30</b></span>
				</div>
				<div class = "news_list_content">
					<img src="{% static 'portal/img/20171130_2_1.webp' %}" class = "news_list_img" >
					</img>
					<img src="{% static 'portal/img/20171130_2_2.webp' %}" class = "news_list_img" >
					</img>
			</div>
				<div class = "news_list_describe">
                       <span>2017年11月22日，包头市市政工程管理局在 ……</span>

				<div class = "news_list_line"></div>
                                </div>
			</div>
			</a>

	

		</div>
	
	</div>
    </div>

{% endblock content %}
