{% extends 'portal/base.html' %}
{% load static %}

{% block title%}succeed products{% endblock title %}
{% block service_active %}active{% endblock %}
{% block firstpage_img %}product_service{% endblock firstpage_img%}
{% block title_center %}product_service_title_center{% endblock%}
{% block content %}
       <div class="section base_container" id="section3">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/municipal_list.png' %}" alt="">
						<div class="intro_info">
							<h1 class="title">智慧市政</h1>
							<a class="location_link" href="/portal/municipal">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>

       <div class="section" id="section4">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/lighting_list.png' %}" alt="">
						<div class="intro_info">
							<h1 class="title">智慧照明</h1>
							<a class="location_link" href="/portal/city_lighting">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>
       <div class="section base_container" id="section3">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/pole_list.png' %}" alt="">
						<div class="intro_info">
							<h1 class="title">智慧灯杆</h1>
							<a class="location_link" href="/portal/smart_pole">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>

       <div class="section" id="section4">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/city_list.jpg' %}" alt="">
						<div class="intro_info">
							<h1 class="title">智慧城市</h1>
							<a class="location_link" href="/portal/smart_city">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>


       <div class="section base_container" id="section3">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/pip_list.jpg' %}" alt="">
						<div class="intro_info">
							<h1 class="title">智慧官网</h1>
							<a class="location_link" href="/portal/pip_network">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>

{% endblock content %}
