{% extends 'portal/base.html' %}
{% load static %}

{% block title%}succeed products{% endblock title %}
{% block info_active %}active{% endblock %}
{% block content %}
       <div class="section" id="section3">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/summary_list.png' %}" alt="">
						<div class="intro_info">
							<h1 class="title">企业简介</h1>
							<a class="location_link" href="/portal/sht_summary">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>


      <div class="section" id="section3">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/archevement_list.jpg' %}" alt="">
						<div class="intro_info">
							<h1 class="title">企业业绩</h1>
							<a class="location_link" href="/portal/sht_archevement">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>

       <div class="section" id="section4">
				<div class="main_container">
					<div class="content_panel">
                            <img class="display_img" src="{% static 'portal/img/culture_list.jpg' %}" alt="">
						<div class="intro_info">
							<h1 class="title">企业文化</h1>
							<a class="location_link" href="/portal/sht_culture">
								<div>点击查看</div> <div class="line_container">
									<div class="line"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
	    </div>

{% endblock content %}
